# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project


# idea
out
*.ipr
*.iws
*.iml
.idea
/logs
# gradle
build
.gradle

# other
eclipse
run
server

# Files from Forge MDK
forge*changelog.txt
