name: Publish action

on:
  workflow_dispatch:
    branches: [ "main" ]
    inputs:
      version:
        description: 'Mod Version'
        required: true
        type: string

env:
  MINECRAFT_VERSION: 1.20.1
  JAVA_VERSION: 17

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v2
      - name: validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: setup jdk 17
        uses: actions/setup-java@v1
        with:
          java-version: "17"
      - name: make gradle wrapper executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: Publish Minecraft Mods Forge
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          curseforge-id: 401955
          modrinth-id: TKB6INcv
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          files-primary: build/libs/!(*-@(dev|sources)).jar
          files-secondary: build/libs/*-@(dev|sources).jar
          version-type: release
          loaders: forge
          name: Ars Nouveau 1.20.1-${{ inputs.version }}
          version:  ars_nouveau-1.20.1-${{ inputs.version }}
          game-version: 1.20.1
          changelog: ""
          version-resolver: exact

