name: Build and Publish

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Mod Version'
        required: true
        type: string
      version_type:
        description: 'Version Type'
        required: true
        type: choice
        default: release
        options:
        - alpha
        - beta
        - release

env:
  MC_MIN_VER: '1.21'
  MC_MAX_VER: '1.21.1'
  JAVA_VERSION: 21

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: "temurin"
          cache: gradle
          cache-dependency-path: |
            *.gradle
            gradle.*
            gradle/wrapper/gradle-wrapper.properties
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build with Gradle
        run: ./gradlew build
      - uses: actions/upload-artifact@v4
        with:
          name: all-jar
          path: build/libs/*-all.jar
      - uses: actions/upload-artifact@v4
        with:
          name: sources-jar
          path: build/libs/*-sources.jar
      - uses: Kir-Antipov/mc-publish@v3.3
        if: ${{ github.ref_type == 'branch' && github.ref_name == 'main' }}
        with:
          curseforge-id: 401955
          modrinth-id: TKB6INcv
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          name: Ars Nouveau ${{ env.VERSION }} for ${{ env.MC_MAX_VER }}
          version: ${{ inputs.version }}
          version-type: ${{ inputs.version_type }}
          java: ${{ env.JAVA_VERSION }}
          game-versions: |
            >=${{ env.MC_MIN_VER }} <=${{ env.MC_MAX_VER }}
